<h1>Donrailsへようこそ。</h1>
<p>
あなたはまだdonrailsを動作させるための初期設定を完了していません。
これから初回のセットアップを開始します。
</p>
<p>
展開されているディレクトリ以下にある config/environment.rb に

<pre>
ADMIN_USER = 'testuser'
ADMIN_PASSWORD = 'testpass'
</pre>

などのように追加します。