<% if @categories %>
<% form_tag :action => 'show_category' do -%>
<select name="category">
  <% @categories.each do |cat| %>
  <option value="<%= cat.name %>"><%= cat.name %></option>
    <% end %>
  <option value="">NULL</option>
</select>
<%= submit_tag "カテゴリ選択" %>
<% end %>
<% end %>
