<% article = don_get_object(@article, 'html') %>
<div class="section">
<%= display_article_images article %>
<%= article.body_to_html if article.body %>
<%= render :file => don_get_theme("shared/comment"), :locals => {:article => article}
 %>
<br clear='all'>
</div>
