<div class="tsukkomi" >
<dl class="trackbacks">
<dt><span class="poster">この記事へのトラックバック: from <a href="<%= @trackback.url %>"><%= @trackback.title %></a></span></dt>
<dd><%= @trackback.excerpt %></dd>
</dl>
</div>
