<h1>enrollment management</h1>

<% if @enrollments %>


<% if params['nohidden'] == '1' %>
<%= will_paginate @enrollments, :params => { :nohidden => 1 } %>
<% else %>
<%= will_paginate @enrollments %>
<% end %>

/
<% if params['nohidden'] == '1' %>
<%= link_to '隱されている記事も表示する', {:action => 'manage_enrollment'} %>
<% else %>
<%= link_to '隱されていない記事のみを表示する', {:action => 'manage_enrollment', :nohidden => 1 } %>
<% end %>

<% form_tag :action => "delete_enrollment" do hidden_field_tag("session_id_validation", security_token) -%>
<div class="kakomi">
<div id="ca">
[記事]を押すと記事が表示されます
</div>
</div>
<div class="notice">
  <%= flash[:note] %>
  <%= flash[:note2] %>
</div>
  
<%= submit_tag %>
<table  border="1" cellspacing="0">
   <tr>
     <td>Hide?</td>
     <td>Delete?</td>
     <td>id</td>
     <td>revision</td>
     <td>status</td>
     <td>title</td>
     <td>date (last change)</td>
   </tr>

   <% @enrollments.each do |co| %>
   <tr>
     <td>
       <% if co.hidden == 1 %>
       <%= check_box "hideid", co.id, :checked => 'checked' %>
       <% else %>
       <%= check_box "hideid", co.id %>
       <% end %>
     </td>
     <td><%= check_box "deleteid", co.id %></td>
     <td><%= co.id %></td>
     <td><%= co.articles.size %></td>
     <td>
       <% if co.hidden == 1 %>(hidden)<% else %>normal<% end %>
       <% if co.articles and co.articles.first %>
       <%= link_to_remote("[記事]", :update => "ca", :url => {:controller => "notes", :action => "pick_enrollment_a", :pickid => co.id }) %>
       <%= link_to "[修正]", :controller =>'admin/article', :action => "form_article", :pickid => co.articles.first.id %>
       <% end %>
     </td>
     <td><%= co.title %></td>
     <td>
       <%= co.created_at.to_date.to_s if co.created_at %>
       (<%= co.updated_at.to_s if co.updated_at %>)
     </td>
   </tr>
   <% end %>
 </table>
 <%= submit_tag %>
 <% end %>
 <%= will_paginate @enrollments %>
 <% end %>


