<div id="banner">
  <div id="banner-inner" class="pkg">
    <h1 id="banner-header"><a href="<%= defined?(don_get_config.baseurl) ? don_get_config.baseurl : 'http://localhost/' %>" accesskey="1"><%= defined?(don_get_config.rdf_title) ? don_get_config.rdf_title : "My blog" %></a></h1>
    <h2 id="banner-description"><%= defined?(don_get_config.rdf_description) ? don_get_config.rdf_description : "description" %></h2>
  </div><!-- the end of 'banner-inner' -->
</div><!-- the end of 'banner' -->
