<%
content = []
article.categories.each do |cat|
  if cat.name then
    content.push(link_to(cat.name, {:action => "show_category", :category => cat.name}))
  end
end
%>
<% unless content.empty? then %>
<span style="font-size: 80%">
  カテゴリ: [<%= content.join(' , ') %>]
</span><br />
<% end %>
