<% @heading = "記事追加" %>

<%= render('admin/article/form_article') %>
<hr>
ファイルのアップロード
<%= render('admin/shared/upload_picture') %>
<hr>
<a href="http://www.h14m.org/docs/hnf-j.html">hnf の記述方法</a>
/
<a href="http://www.shiro.dreamhost.com/scheme/wiliki/wiliki.cgi?WiLiKi%3a%e3%83%aa%e3%83%95%e3%82%a1%e3%83%ac%e3%83%b3%e3%82%b9%e3%83%9e%e3%83%8b%e3%83%a5%e3%82%a2%e3%83%ab%3a%e6%9b%b8%e5%bc%8f">WiLiKi:リファレンスマニュアル:書式</a>

<hr>