<div id="banner">
  <div id="banner-inner" class="pkg">
    <h1 id="banner-header"><a href="<%= defined?(BASEURL) ? BASEURL : 'http://localhost/' %>" accesskey="1"><%= defined?(RDF_TITLE) ? RDF_TITLE : "My blog" %></a></h1>
    <h2 id="banner-description"><%= defined?(RDF_DESCRIPTION) ? RDF_DESCRIPTION : "description" %></h2>
  </div><!-- the end of 'banner-inner' -->
</div><!-- the end of 'banner' -->
