<a href="http://b.hatena.ne.jp/append?<%= @request.protocol + @request.host_with_port + url_for({:action => 'show_enrollment', :id => article.enrollment_id}) %>"><img src="http://d.hatena.ne.jp/images/b_append.gif" width="16" height="12" style="border: none;" alt="はてなブックマークに追加" title="はてなブックマークに追加" /></a>
<a href="http://b.hatena.ne.jp/entry/<%= @request.protocol + @request.host_with_port + url_for({:action => 'show_enrollment', :id => article.enrollment_id}) %>"><img src="http://d.hatena.ne.jp/images/b_entry.gif" width="16" height="12" style="border: none;" alt="このエントリーを含むはてなブックマーク" title="このエントリーを含むはてなブックマーク" /></a>

