Hello <%= @recipient %>,

New <%= @cort %> is arrived.
  url:
    <%= @enrollment_url %>
    <%= @url %>
  for manage:
    <%= @login_url %>

It was written By <%= @commenter %> at <%= @now %>.
----
<%= @comment %>
----