<% @heading = "comment management" %>

<% if @comments %>
<%= will_paginate @comments %>

<h1><%= @heading %></h1>
<%= render('admin/shared/add_banlist') %>
<hr>
<% form_tag :action => "delete_comment" do hidden_field_tag("session_id_validation", security_token) -%>
<div class="kakomi">
<div id="comment_ajax">
[記事]を押すと削除対象コメントと親記事が表示されます
</div>
</div>
<%= submit_tag %>
<%= render('admin/shared/table_comment') %>
<%= submit_tag %>
<% end %>
<%= will_paginate @comments %>
<% end %>
