<% form_tag :action => "add_don_rbl" do hidden_field_tag("session_id_validation", security_token) -%>
<%= hidden_field "donrbl", "id" %><br>
rbl_type:
<select name="format">
  <option value="ip">ip</option>
  <option value="host">host</option>
</select>
<br>
hostname:<%= text_field "donrbl", "hostname" %>(niku.2ch.netなど)<br>
<%= submit_tag "save" %>
<% end %>
