<%
article = don_get_object(@enrollment.articles.first, 'html')
%>
<h2 class="date-header"><%= display_article_date(article) %></h2>
<div class="entry" id="entry-<%= article.id %>">
  <h3 class="entry-header">
    <%= article.title_to_html %>
  </h3><!-- the end of 'entry-header' -->
  <div class="entry-content">
    <div class="entry-body">
      <%= display_article_attachments(article) %>
      <%= article.body_to_html %>
    </div><!-- the end of 'entry-body' -->
  </div><!-- the end of 'entry-content' -->
  <p class="entry-footer">
    <%= render :file => don_get_theme("shared/simple-category"), :locals => {:article => article}
 %>
    <%= render :file => don_get_theme("shared/post-footer"), :locals => {:article => article}
 %>
    <span class="separator">|</span> 
    <%= render :file => don_get_theme("shared/permlink"), :locals => {:article => article}
 %>
  </p><!-- the end of 'entry-footer' -->
</div><!-- the end of 'entry' -->

<%= render :file => don_get_theme("shared/trackback"), "enrollment" => @enrollment, :locals => {:article => article}
 %>
<%= render :file => don_get_theme("shared/comment"), :locals => {:enrollment => @enrollment}
 %>
