<br clear="all">

<% enrollment.articles.each do |article| %>

<% article.comments.each do |x| %>
<% unless x.hidden == 1 %>
<div class="tsukkomi" >
  <dl class="comments">
    <dt><span class="poster">この記事へのコメント: by <%= x.author %></span></dt>
    <dd><%= x.body %></dd>
  </dl>
</div>
<% end %>
<% end %>
<% end %>

<% enrollment.articles.each do |article| %>

<% article.trackbacks.each do |x| %>
<% unless x.hidden == 1 %>
<div class="tsukkomi" >
  <dl class="trackbacks">
    <dt><span class="poster">この記事へのトラックバック: from <a href="<%= x.url %>"><%= x.title %></a></span></dt>
    <dd><%= x.excerpt %></dd>
  </dl>
</div>
<% end %>
<% end %>
<% end %>

<div class="boardlink">
  [<%= link_to('コメントする', :action => "comment_form", :id => @enrollment.articles.first.id) %>]
  [TrackBack URL:<%= request.protocol + request.host_with_port + url_for(:action => 'trackback', :id => @enrollment.articles.first.id) %>]
  [<%= link_to('パーマリンク', :action => "show_enrollment", :id => @enrollment.id) %>]
  <!-- AddClips Code START -->
  <% if don_get_config.add_clips_id %>
  <a href="http://www.addclips.org/addclips.php" onclick="AddClipsUrl = '<%= request.protocol + request.host_with_port + url_for(:action => 'show_enrollment', :id => @enrollment.id) %>'; AddClipsTitle = document.title; return AddClipsWindow(this);" target="_blank"><img src="http://img.addclips.org/addclips_5.gif" width="80" height="16" border="0" alt="ブックマークに追加する" style="vertical-align:middle;" /></a><script type="text/javascript">var AddClipsId = '<%= don_get_config.add_clips_id %>';</script><script type="text/javascript" src="http://www.addclips.org/addclips.js"></script>
  <% end %>
  <!-- AddClips Code END ce-->
</div>
  
