<!-- %= pagination_links pages, :params => {:article_date => params['article_date'], :ymd2 => @ymd, :ymd3 => @ymd3, :ymd4 => @ymd4} % --> 
<% begin %>
<%= will_paginate pages %>
<% rescue %>
<!-- no paginate -->
<% end %>