<% if flash[:notice] %><div class="notice"> <%= flash[:notice] %></div><% end %>
<% if @ymd3 && @ymd4 %><div class="ymd34">From <%= @ymd3 %> to <%= @ymd4 %></div><% end %>

<% article = don_get_object(@enrollment.articles.first, 'html') %>
<div class="numsection">
<div class="dayheadnum">
<p>
   <%= link_to "\#", {:action => "show_enrollment", :id => @enrollment.id} %>
   <%= display_article_categories(article) %>
   <%= article.title_to_html if article.title %>
</p>
</div> <!-- end dayheadnum -->

<div class="section">
  <div class="sectionbody">
  <%= display_enrollment_images(@enrollment) %>
  <%= article.body_to_html if article.body %>
  </div>
  <%= render :file => don_get_theme("shared/comment-enrollment"), :locals => {:enrollment => @enrollment, :article => article} %>
  <div class="nndate">
    <%= render :file => don_get_theme("shared/authorhead"), :locals => {:article => article} %>
  </div>
</div> <!-- end section -->
</div> <!-- end numsection -->

<div class="linktitle">
<% if (@enrollment_l && @enrollment_l.articles.first && @enrollment_r && @enrollment_r.articles.first) %>
<%= render :file => don_get_theme("shared/linktitle"), :locals => {:lastarticle => don_get_object(@enrollment_l.articles.first, 'html'), :nextarticle => don_get_object(@enrollment_r.articles.first, 'html')} %>
<% elsif (@enrollment_l && @enrollment_l.articles.first && @enrollment_r == nil) %>
<%= render :file => don_get_theme("shared/linktitle"), :locals => {:lastarticle => don_get_object(@enrollment_l.articles.first, 'html')} %>
<% elsif (@enrollment_l == nil && @enrollment_r && @enrollment_r.articles.first) %>
<%= render :file => don_get_theme("shared/linktitle"), :locals => {:nextarticle => don_get_object(@enrollment_r.articles.first, 'html')} %>
<% else %>
(sorry, I can not link previous and next articles)
<% end %>
</div>

<div class="pagelink">
<%= render :file => don_get_theme("shared/nextlink3"), :locals => {:article => article}
 %>
</div> <!-- end pagelink -->



