<% @heading = "trackback management" %>
<div id="content">
  <h1><%= @heading %></h1>  
  <% if @trackbacks %>
  
  <%= render(:file => 'admin/shared/add_banlist') %>
  <hr>
  <%= will_paginate @trackbacks %>
  <% form_tag :action => "delete_trackback" do hidden_field_tag("session_id_validation", security_token) -%>

  <%= submit_tag %>
  <%= render(:file => 'admin/shared/table_trackback') %>
  <%= submit_tag %>
  <% end %>
  <% end %>
  <%= will_paginate @trackbacks %>
</div>
