<% @heading = "グローバル設定" %>
<h1>cache management</h1>
<div class="notice">
  <%=h flash[:note] %>
  <%=h flash[:note2] %>
</div>
  
<hr>
<% form_tag :action => "delete_cache" do hidden_field_tag("session_id_validation", security_token) -%>
キャッシュしている全てをexpireします。
<%= submit_tag "expire" %>
<% end %>

