<div id="category_select" class="category_select">
reading..
</div>
<!-- BUG?? need to add  script type... and CDATA lines by hand -->
<script type="text/javascript">
//<![CDATA[
<%= remote_function(:update => "category_select", :url => {:controller => "notes", :action => "category_select_a"}, :method => 'get') %>
//]]>
</script>
