<%= secure_form_tag :action => "add_don_rbl" %>
<%= hidden_field "donrbl", "id" %><br>
rbl_type:
<select name="format">
  <option value="ip">ip</option>
  <option value="host">host</option>
</select>
<br>
hostname:<%= text_field "donrbl", "hostname" %>(niku.2ch.netなど)<br>
<%= submit_tag "save" %>
<%= end_form_tag %>
