<script type="text/javascript"><!--
google_ad_client = "<%= ad_client %>";
google_alternate_ad_url = "<%= alternate_ad_url %>";
google_ad_width = <%= ad_width %>;
google_ad_height = <%= ad_height %>;
google_ad_format = "<%= ad_format %>";
google_ad_channel ="";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
