<%= link_to "先頭&lt;&lt;", { :page => pages.first } if pages.first != pages.current %>
<%= link_to "前&lt;", { :page => pages.current.previous } if pages.current.previous %>
<%= link_to "&gt;次", { :page => pages.current.next } if pages.current.next %>
<%= link_to "&gt;&gt;最後", { :page => pages.last } if pages.last != pages.current %>
