<!-- no date version. For date, use title-articles.rhtml -->
<%
if pages
i = 0
pages.each do |a|
article = don_get_object(a, 'html')
btmp = strip_links article.title_to_html
i += 1
%>

<% if ((i % 2) == 0) %>
<div class="even">
<% else %>
<div class="odd">
<% end %>

<%= link_to truncate(btmp, 60), {:action => "show_title", :id => article.id} %>

</div>
<%
end
end
%>

