<html lang="ja">
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rev="made" href="mailto:yasu@debian.or.jp">
<meta name="author" content="ARAKI Yasuhiro">

<%= stylesheet_link_tag "login" %>

<%= javascript_include_tag "code-toggle-popup.js" %>
<%= javascript_include_tag "prototype.js" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "controls" %>

<meta name="robots" content="noindex,nofollows">

<title>login <%=h @heading %></title>

</head>

<body>
<div id="page">
<div class="head">
<%= link_to "トップ", {:action => "index", :controller => "notes"} %>/
<%= link_to "日記", {:action => "noteslist", :controller => "notes"} %>/ 
<%= link_to "ログアウト", {:action => "logout"} %>
<br>
<%= link_to "ログイン", {:action => "index"} %>/
<%= link_to "バージョン管理", {:action => "manage_enrollment"} %>/
<%= link_to "記事追加", {:action => "new_article"} %>/
<%= link_to "記事管理", {:action => "manage_article"} %>/
<%= link_to "画像ファイル管理", {:action => "manage_picture"} %>/
<%= link_to "コメント管理", {:action => "manage_comment"} %>/
<%= link_to "カテゴリ管理", {:action => "manage_category"} %>/
<%= link_to "トラックバック管理", {:action => "manage_trackback"} %>/
<%= link_to "ブラックリスト管理", {:action => "manage_banlist"} %>/
<%= link_to "投稿者管理", {:action => "manage_author"} %>/
<%= link_to "Ping先管理", {:action => "manage_blogping"} %>/
<%= link_to "Ping履歴", {:action => "manage_don_ping"} %>/
<%= link_to "RBL設定", {:action => "manage_don_rbl"} %>/
<%= link_to "基本設定", {:action => "manage_don_env"} %>/
<%= link_to "キャッシュ消去", {:action => "manage_cache"} %>/
<%= link_to "(hnf保存)", {:action => "hnf_save_all"}, :confirm => "Really login for save hnf files?" %>/
</div> <!-- end of class:head -->

<div id="content">
<%= @content_for_layout %>
</div> <!-- id:content -->
</div> <!-- id:page -->

</body>
</html>
