<% if @notice %><div class="notice"> <%= @notice %></div><% end %>
<% if @ymd3 && @ymd4 %><div class="ymd34">From <%= @ymd3 %> to <%= @ymd4 %></div><% end %>

<% article = don_get_object(@enrollment.articles.first, 'html') %>
<div class="nnenhead">
<p>
   <%= link_to "\#", {:action => "show_enrollment", :id => @enrollment.id} %>
   <%= display_article_categories article %>
   <%= article.title_to_html if article.title %>
</p>
</div> <!-- end nnenhead -->

<div class="section">
  <%= display_enrollment_images(@enrollment) %>
  <%= auto_link article.body_to_html if article.body %>
  <%= render(don_get_theme("shared/comment-enrollment"), "enrollment" => @enrollment, "article" => article) %>
  <div class="nndate">
    <%= render(don_get_theme("shared/authorhead"), "article" => article) %>
    <br clear='all'>
  </div>
</div> <!-- end section -->

<div class="linktitle">
<% if (@enrollment_l and @enrollment_r) %>
<%= render(don_get_theme("shared/linktitle"), "lastarticle" => don_get_object(@enrollment_l.articles.first, 'html'), "nextarticle" => don_get_object(@enrollment_r.articles.first, 'html')) %>
<% elsif (@enrollment_l and @enrollment_r == nil) %>
<%= render(don_get_theme("shared/linktitle"), "lastarticle" => don_get_object(@enrollment_l.articles.first, 'html')) %>
<% elsif (@enrollment_l == nil and @enrollment_r) %>
<%= render(don_get_theme("shared/linktitle"), "nextarticle" => don_get_object(@enrollment_r.articles.first, 'html')) %>
<% else %>
(sorry, I can not link previous and next articles)
<% end %>
</div>

<div class="pagelink">
<%= render(don_get_theme("shared/nextlink3"), "article" => article) %>
</div> <!-- end pagelink -->



