<% article = don_get_object(@article, 'html') %>
<div class="section">
<%= display_article_images article %>
<%= article.body_to_html if article.body %>
<%= render(don_get_theme("shared/comment"), "article" => article) %>
<br clear='all'>
</div>
