<% article = don_get_object(@article, 'html') %>
<div class="section">
<%= display_article_images article %>
<%= auto_link article.body_to_html if article.body %>
<%= render(don_get_theme("shared/comment"), "enrollment" => article.enrollment) %>
<br clear='all'>
</div>
