<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ARAKI notes - <%=h strip_links(@heading) if @heading %></title>
<!-- 亰 -->
</head>

<body>
<div id="content">
<!-- no date version. For date, use title-articles.rhtml -->
<!-- default limit "no" is 10. -->
<!-- 京 -->
<%
if @articles
i = 0
doneid = Array.new
no = 10 unless no
@articles.each do |a|
article = don_get_object(a, 'html')
next if doneid.include? article.id
doneid.push article.id
btmp = strip_links article.title_to_html
i += 1
break if i > no.to_i
%>

<% if ((i % 2) == 0) %>
<div class="even">
<% else %>
<div class="odd">
<% end %>

  <% if article.enrollment_id %>
  <%= link_to truncate(btmp, 76), {:action => "show_enrollment", :id => article.enrollment_id} %>
  <% else %>
  <%= link_to truncate(btmp, 76), {:action => "show_title", :id => article.id} %>
  <% end %>
</div>
<%
end
end
%>

</div>

</body>
</html>

