<%= flash[:notice] %>
<% if flash[:notice] == 'first setup' %>
<%= render(:file => 'help/first_setup') %>
<% end %>
<h1>login</h1>
<!-- % secure_form_tag :action => 'authenticate' do % -->
<% form_tag :action => 'authenticate' do hidden_field_tag("session_id_validation", security_token) -%>
name:
<%= text_field "nz", "n" %>
<br>
password:
<%= password_field "nz", "p" %>
<br>
<input type="submit">
<% end %>

