<html lang="ja">
<head>

<%= auto_discovery_link_tag(:rss, :action => 'rdf_category', :category => @rdf_category) if @rdf_category %>
<%= auto_discovery_link_tag(:rss, :action => 'rdf_article', :id => @rdf_article) if @rdf_article %>
<%= auto_discovery_link_tag(:atom, :controller => 'atom', :action => 'feed', :id => @rdf_article) if @rdf_article %>
<%= auto_discovery_link_tag(:rss, :action => 'rdf_recent') %>
<%= auto_discovery_link_tag(:atom, :controller => 'atom', :action => 'feed') %>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<% if defined?(don_get_config.rdf_webmaster) then %>
  <link rev="made" href="mailto:<%= don_get_config.rdf_webmaster %>">
<% end %>
<% if defined?(don_get_config.rdf_managingeditor) then %>
  <meta name="author" content="<%= don_get_config.rdf_managingeditor %>">
<% end %>

<%= stylesheet_link_tag "araki" %>
<%= javascript_include_tag "code-toggle-popup.js" %>
<%= javascript_include_tag "prototype.js" %>
<% if @noindex %>
<meta name="robots" content="noindex">
<% end %>

<title>Myblog by donrails - <%=h strip_links(@heading) if @heading %></title>

</head>

<body>
<div class="head">
<%= link_to "トップ", {:action => "index"} %>
/
<%= link_to "日記", {:action => "noteslist"} %>
<div class="notice">
このファイルは donrails のデフォルトレイアウトファイル(app/views/layouts/defaults/notes.rhtml)です。使用前に変更してください。
</div>
</div> <!-- end of head -->

<div class="mainarticle">
<%= @content_for_layout %>
</div>

<div class="sidebar">
<div class="lefttitle">

<%= render(don_get_theme("shared/search")) %>
[最近のdonrails関連]
<%= render(don_get_theme("shared/category_title_list"), "category" => "donrails") %>
[最近のruby関連]
<%= render(don_get_theme("shared/category_title_list"), "category" => "ruby") %>

<%= render(don_get_theme("shared/show_direct")) %>

カテゴリ
<% ["ruby","donrails"].each do |cat| %>
/<%= link_to cat, {:action => "show_category", :category => cat} %>
<% end %>

<%= render(don_get_theme("shared/category_select")) %>

<address>my mail address</address>
<p>
<%= link_to "管理", {:controller => 'login', :action => 'login_index' }, :confirm => "Really login for management?" %>
</p>
<p>
このpageは<a href="http://www.araki.net/wiki/donrails-wiliki.cgi">donrails</a>で生成されています。
</p>
</div> <!-- end of left -->

<div class="footer">
</div> <!-- end of footer -->

</body>

</html>
