 div.antenna { background: #aaaaaa; font-size: 0.8em }

 div.debug { background: gray }
 div.footer { background: #ffffee; font-size: 0.8em }
 div.head { background: white;  width: 75%; float : left}
 div.headline { background: #cccccc}
 div.lefttitle { margin-left: 0em; margin-right: 0.5em; font-size: 0.8em }

 div.comment_form_a { }

 div.mainarticle { width : 75%;  float : left; z-index: 2 }

 div.mainarticle dt { margin-top: 0.5em }
 div.mainarticle dd { margin-left: 1em; margin-right: 0 }
 div.mainarticle div.section { margin-bottom: 0.5em; margin-left: 1em; margin-right: 1em; margin-top: 0 }
 div.mainarticle div.section div.authorhead { 
 color: red; 
 font-style: normal;
 text-align: right;
 right: 3em;
 }

 table { 
        margin-top: 1em; 
        margin-bottom: 1em; 
        margin-left: 3em; 
        margin-right: 3em; }
 table, th, td { background: #dddddd; 
                 border-collapse: collapse; 
                 border: 1px solid black;
 }
 
 div.notice { color: red; font-weight: bold }
 div.pagelink { margin:3px; padding:1px;color: red; font-weight: bold }

 div.arakiintro {   border-style: outset; margin:3px; padding:1px; background: #eeeeee; font-weight: bold }

 div.sidebar { width : 25%; float : right; z-index: 1 }
 div.sidebar div.ctl { height : 25em; z-index: 2 }
 div.sidebar div.show_direct { height : 4em; z-index: 1 }
 div.sidebar div.category_select { height : 4em; z-index: 1 }

 div.linktitle { margin-top: 5pt; }
 div.rubytitle { margin-top: 5pt; color: red; font-weight: bold }
 div.roadtitle { margin-top: 5pt; color: blue; font-weight: bold }
 div.recenttitle { margin-top: 5pt; color: red; font-weight: bold }

 div.recenttitle div.odd { background: #bbffff ; margin-right: 2pt }
 div.recenttitle div.even { background: #ffffbb ; margin-right: 2pt }
 div.rubytitle div.odd { background: #bbffff ; margin-right: 2pt }
 div.rubytitle div.even { background: #ffffbb ; margin-right: 2pt }
 div.roadtitle div.odd { background: #bbffff ; margin-right: 2pt }
 div.roadtitle div.even { background: #ffffbb ; margin-right: 2pt }

 div.odd { background: #bbffff ; margin-right: 2pt }
 div.even { background: #ffffbb ; margin-right: 2pt }

 body { background: white }
 h3.new { margin-left: 1em }
 h4.comment { margin-left: 1em }
 div.uservar { font-weight: bold; }
 div.section { margin-bottom: 8; margin-left: 1em; margin-right: 1em; margin-top: 0; font-size: 1em }
 div.sub { margin-left: 1em; margin-top: 0 }
 div.list { margin-left: 1em }
 div.fn { margin-left: 1em; margin-top: 0 }
 div.url { margin-bottom: 0 }

 dl.comments, ul.comments { margin-left: 2em }
 dl.trackbacks, ul.trackbacks { margin-left: 2em }
 div.tsukkomi dd, div.trackback dd{
  border-color: #ffeeb0;
  border-style: outset;
  border-width: 3px;
  margin: 5px
}

 pre { 
  white-space:  pre;
  padding:      0.5em;
  background: #eeeeee;
  margin: 1em;
 }

 cite { 
    font-style: normal;
    margin-left: 0em;
    margin-right: 0em;
    background-color: #ddeeee;
    border: solid thin #ddeeee;
 }

 a.hide:link { color: black; text-decoration: none }
 span.bold-red { color: red; font-weight: bold }
 div.bold-red { color: red; font-weight: bold }
 span.newmark { color: red; font-size: smaller }
 span.date { font-size: smaller }

/* --- msc section -------------------- */

a.msc-toggle { font-size: 90%; }
div.msc {
    margin: 1em;
    padding: 0.5em;
    border: 1px dashed #999;
    overflow: hidden;
}
div.msc pre { overflow: hidden; }

/* --- kakomi section -------------------- */

div.kakomi {
    margin: 1em;
    padding: 0.5em;
    border: 1px dashed #999;
    overflow: auto;
}
div.kakomi pre { overflow: auto; }


blockquote {
    border-left: solid thick #ddbbaa;
}
blockquote > blockquote {
    border-left: solid thick #bb9988;
}
blockquote > blockquote > blockquote {
    border-left: solid thick #997766;
}
dt { font-weight: bold }

div.nndate { 
           text-align: right;
           vertical-align: text-bottom;
           font-size: smaller;
           font-family: helvetica, sans-serif;
           border-bottom:solid 1px #990000;
}
div.boardlink { 
                font-size: smaller;
                font-family: helvetica, sans-serif;
                padding:1px;
}
