<%
article = don_get_object(@enrollment.articles.first, 'html')
%>
<h2 class="date-header"><%= display_article_date(article) %></h2>
<div class="entry" id="entry-<%= article.id %>">
  <h3 class="entry-header">
    <%= article.title_to_html %>
  </h3><!-- the end of 'entry-header' -->
  <div class="entry-content">
    <div class="entry-body">
      <%= display_article_images(article) %>
      <%= auto_link(article.body_to_html) %>
    </div><!-- the end of 'entry-body' -->
  </div><!-- the end of 'entry-content' -->
  <p class="entry-footer">
    <%= render(don_get_theme("shared/simple-category"), "article" => article) %>
    <%= render(don_get_theme("shared/post-footer"), "article" => article) %>
    <span class="separator">|</span> 
    <%= render(don_get_theme("shared/permlink"), "article" => article) %>
  </p><!-- the end of 'entry-footer' -->
</div><!-- the end of 'entry' -->

<div class="trackbacks">
  <h3 id="trackback" class="trackbacks-header">Trackbacks</h3>
  <div id="trackbacks-info">
    <p>Trackback URL: <br />
    <%= auto_link(@request.protocol + @request.host_with_port + url_for(:action => 'trackback', :id => article.id)) %>
  </div><!-- the end of 'trackbacks-info' -->
</div><!-- the end of 'trackbacks' -->
<%= render(don_get_theme("shared/trackback"), "enrollment" => @enrollment) %>
<%= render(don_get_theme("shared/comment"), "enrollment" => @enrollment) %>
