<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>ARAKI notes - <%=h strip_links(@heading) if @heading %></title>
<!-- 亰 -->
</head>

<body>
<div id="content">
  <%= @content_for_layout %>
</div>

</body>
</html>
